{% load i18n %}

<tr>
    <td>{% if article.image %}<a href="{{ article.get_absolute_url }}"><img src="{{ article.image.url }}" width="100" alt="" /></a>{% endif %}</td>
    <td>
        <a href="{{ article.get_absolute_url }}">{{ article }}</a><br />
        <span class="text-muted">
        {% for aa, orgs in article.get_authors.iteritems %}
            <a href="{{ aa.get_absolute_url }}" class="text-muted" title="{{ orgs|join:", " }}">{{ aa }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </span>
    </td>
    <td><span title="{% trans "Primary article language" %}" class="label label-{% if LANGUAGE_CODE == article.lang %}primary{% else %}info{% endif %}">{{ article.get_lang_display }}</span></td>
    <td><a href="{{ article.content.url }}" class="btn btn-primary">{% trans "View article" %} <br /><small class="text-muted">PDF, {{ article.content.size|filesizeformat }}</small></a></td>
</tr>
