{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
        <p>{% blocktrans %}You are logged in as {{ user }}{% endblocktrans %}. <a href="{% url 'logout' %}">{% trans "Logout" %}</a></p>
        <p><a href="{% url 'edit_author' %}">{% trans "Edit profile" %}</a></p>
        <p><a href="{% url 'add_article' %}">{% trans "Add article" %}</a></p>
        {% if loc_user.unpublished_articles %}
        <h5>{% trans "Unpublished articles" %}</h5>
        <table class="table">
            {% for article in loc_user.unpublished_articles %}
            <tr>
                <td><a href="{% url "adding_article" article.id article.status %}">{{ article }}</a></td>
                <td>{{ article.get_status_display }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if user.is_staff %}
        <p><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></p>
        {% endif %}
    {% else %}
        <p><a href="{% url 'mailauth_form' %}">{% trans "Login as author" %}</a></p>
    {% endif %}
{% endblock %}