{% extends "base.html" %}
{% load i18n ctxhelp static %}

{% block content %}

<div class="row">
    <div class="col-md-8">
{% blocktrans %}
<p>Журнал зарегистрирован как электронное периодическое издание.<br />Регистрационное свидетельство — Эл No 77-6360 от 10 июля 2002 г.<br/>
<p>Журнал предназначен для оперативной публикации научных результатов, баз данных, компьютерных кодов, информации о новых приборах и методах физического эксперимента в области физико-химической кинетики в газовой динамике, физике плазмы и газового разряда, в процессах горения и взрыва (подробнее см. <a href="/about/">О журнале</a>).</p>
<p>Статьи, опубликованные в журнале, открыты для свободного доступа в Интернете.</p>
<p>Журнал ориентируется на научных работников, преподавателей, аспирантов и студентов.</p>
{% endblocktrans %}
    </div>
    <div class="col-md-4 text-center">
        <img src="{% static "img/msu.png" %}" alt="" width="175" />
        <div class="h5 text-center" style="margin: -75px 0 60px">{% trans "Lomonosov Moscow State University<br />Institute of Mechanics" %}</div>
    </div>
</div>


    {% if user.is_authenticated %}
    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-md-4">
                <span class="pull-right">{% ctxhelp _("This is context help. You can invoke it by pressing on this symbol on any page. To&nbsp;close it press the symbol again.") %}</span>
                <p>
                {% if user.has_journal_profile %}
                {% blocktrans with user=user link=user.get_absolute_url %}You are logged in as <a href="{{ link }}">{{ user }}</a>{% endblocktrans %}.
                {% else %}
                {% blocktrans with user=user %}You are logged in as {{ user }}{% endblocktrans %}.
                {% endif %}
                <a class="btn btn-default btn-xs" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                </p>
                <p><a class="btn btn-info" href="{% url 'edit_author' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans "Edit profile" %}</a></p>
                <p><a class="btn btn-info" href="{% url 'add_article' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add article" %}</a></p>
            </div>
            <div class="col-md-8">
        {% if user.unpublished_articles %}
                <h5>{% trans "Unpublished articles" %}</h5>
                <table class="table">
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for article in user.unpublished_articles %}
                <tr>
                <td>
                    {% if article.adding %}
                    <a href="{% url "adding_article" article.id article.status %}">{{ article }}</a>
                    {% else %}
                    {{ article }}
                    {% endif %}
                </td>
                {# TODO: display author-friendly status descriptions. Such as "Pending moderation" instead of "New" #}
                <td>{{ article.get_status_display }}</td>
                <td>{% if article.adding %}<a class="btn btn-primary btn-xs" href="{% url "adding_article" article.id article.status %}">{% trans "Continue filling form" %}</a>{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
        {% endif %}
        {% if user.pending_reviews %}
                <h5>{% trans "Pending reviews" %}</h5>
                <table class="table">
                <thead>
                <tr>
                    <th>{% trans "Article" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for review in user.pending_reviews %}
                <tr>
                <td><a href="{{ review.get_absolute_url }}">{{ review.article }}</a></td>
                <td>{{ review.get_status_display }}</td>
                <td><a class="btn btn-primary btn-xs" href="{{ review.get_absolute_url }}">{% trans "Proceed to review form" %}</a></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
        {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
        {% for article in recent_articles %}
        {% if forloop.first %}<h5>{% trans "Recent articles" %}</h5><table class="table">{% endif %}
        {% include "journal/includes/article-row.html" with article_show_issue=True %}
        {% if forloop.last %}</table>{% endif %}
        {% endfor %}
        </div>
    </div>

    {% if user.is_anonymous %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>{% trans "Для представления статьи введите свой e-mail. На введённый адрес будет отправлено письмо со ссылкой для входа в электронный журнал." %}</p>
                    <form role="form" method="post" action="{% url 'mailauth_form' %}">
                    {% csrf_token %}
                    {{ auth_form }}
                    <input class="btn btn-info pull-right" type="submit" value="{% trans "Enter journal" %}" />
                    </form>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}