{% load i18n %}

{{ formset.management_form }}
<div>
{% for form in formset %}
    {{ form }}
{% endfor %}
</div>
<a id="add_author" class="btn btn-sm btn-info">{% trans "Add Author" %}</a>

<br />
<br />
<br />

<script type="text/javascript">
    var form_count = {{ formset.total_form_count }};
    $(function () {
        $('#add_author').click(function() {
            var max_num = parseInt($('#id_articleauthor_set-MAX_NUM_FORMS').val())
            if (form_count < max_num) {
                form_count++;
                var form = '{{ formset.empty_form|escapejs }}';
                $(this).prev().append(form.replace(/__prefix__/g, form_count - 1));
                $('#id_articleauthor_set-TOTAL_FORMS').val(form_count);
                org_select(true);
                author_select(true);
                if (form_count == max_num) {
                    $(this).addClass('disabled');
                }
            }
        });
        org_select(false);
        author_select(false);

        function show_new_author(el) {
            el.parents('div.row').find('div.form-group:has([id$=-author_email]),.author-subform').show();
        }
        function hide_new_author(el) {
            el.parents('div.row').find('div.form-group:has([id$=-author_email]),.author-subform').hide();
        }
        function show_new_org(el) {
            el.parents('div.row').find('div.form-group:has([id$=-org_site]),.org-subform').show();
        }
        function hide_new_org(el) {
            el.parents('div.row').find('div.form-group:has([id$=-org_site]),.org-subform').hide();
        }

        function author_select(adding) {
            $('select[id^=id_articleauthor_set-][id$=-author]').each(function() {
                var input = $('<input>');
                if (adding) {
                    var text = '{% trans "Enter author name" %}';
                } else {
                    var text = $(this).find(':selected').text();
                }

                input.attr({
                    id: $(this).attr('id'),
                    name: $(this).attr('name'),
                    class: $(this).attr('class'),
                    value: $(this).val()
                });
                $(this).after(input);
                $(this).remove();
                input.select2({
                    minimumInputLength: 3,
                    ajax: {
                        url: "{% url 'search_authors' %}",
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {
                            return {q: term};
                        },
                        results: function (data, page, query) {
                            return {results: data.items};
                        },
                        cache: true
                    },
                    createSearchChoicePosition: 'bottom',
                    createSearchChoice: function (term) {
                        return {id: '', text: '{% trans "Add new author" %}'}
                    }
                });
                input.select2('data', {id: input.val(), text: text});
                input.on('select2-selecting', function(e) {
                    if (e.val) {
                        hide_new_author(input);
                    } else {
                        show_new_author(input);
                    }
                });
                if (adding) {
                    hide_new_author(input);
                } else {
                    input.trigger($.Event('select2-selecting', {val: input.val()}));
                }
            });
        }

        function org_select(adding) {
            $('select[id^=id_articleauthor_set-][id$=-organization]').each(function() {
                var input = $('<input>');
                if (adding) {
                    var text = '{% trans "Enter organization name" %}';
                } else {
                    var text = $(this).find(':selected').text();
                }

                input.attr({
                    id: $(this).attr('id'),
                    name: $(this).attr('name'),
                    class: $(this).attr('class'),
                    value: $(this).val()
                });
                $(this).after(input);
                $(this).remove();
                input.select2({
                    minimumInputLength: 3,
                    ajax: {
                        url: "{% url 'search_organizations' %}",
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {
                            return {q: term};
                        },
                        results: function (data, page, query) {
                            return {results: data.items};
                        },
                        cache: true
                    },
                    createSearchChoicePosition: 'bottom',
                    createSearchChoice: function (term) {
                        return {id: '', text: '{% trans "Add new organization" %}'}
                    }
                });
                input.select2('data', {id: input.val(), text: text});
                input.on('select2-selecting', function(e) {
                    if (e.val) {
                        hide_new_org(input);
                    } else {
                        show_new_org(input);
                    }
                });
                if (adding) {
                    hide_new_org(input);
                } else {
                    input.trigger($.Event('select2-selecting', {val: input.val()}));
                }
            });
        }

    });
</script>
