{% extends "base.html" %}
{% load i18n static ctxhelp %}

{% block head %}{{ block.super }}
<link href="{% static "css/select2.css" %}" rel="stylesheet"/>
<link href="{% static "css/select2-bootstrap.css" %}" rel="stylesheet"/>
<script src="{% static "js/select2.min.js" %}"></script>
<script src="//yastatic.net/jquery-ui/1.11.2/jquery-ui.min.js"></script>
{% endblock %}


{% block content %}

{% for s, t in ARTICLE_ADDING_TITLES.items %}
    <a href="{% url 'adding_article' article.id s %}" class="btn btn-lg {% if s > step %}btn-default disabled{% elif s == step %}disabled btn-default btn-highlight{% else %}btn-success{% endif%}">
        <span class="badge"><b>{{ forloop.counter }}</b></span>&nbsp; {{ t }}
    </a>
    <span style="font-size: 28px; vertical-align: middle;" class="glyphicon glyphicon-chevron-right text-{% if s > step %}muted{% elif s == step %}muted{% else %}success{% endif %}" aria-hidden="true"></span>
{% endfor %}
    <a href="{% url 'send_article' article.id %}" class="btn btn-lg btn-default disabled">
        <span class="badge"><b>{{ ARTICLE_ADDING_TITLES|length|add:1 }}</b></span>&nbsp; {% trans "Send article" %}
    </a>

<br />
<br />

<p>
    {% if step == 2 %}{% ctxhelp _('You can drag authors to change their order') "auto left" %}{% endif %}
    {% if step == 3 %}{% ctxhelp _('Заполняется, если вы хотите отдельно представить дополнительные материалы к статье. Выберите тип приложения «Общий», если Вы хотите, чтобы файл можно было только скачать (например, если Ваша статья выполнена в виде презентации)') "auto left" %}{% endif %}
</p>

<form method="post"{% if form.is_multipart or formset.is_multipart %} enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}

    {{ formset.non_form_errors }}
    {{ formset }}
    {% ctxblock "auto left" %}
    {{ form }}
    {% endctxblock %}
    <button class="btn btn-primary" type="submit" />
        {% trans "Save and proceed to next step" %}
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
</form>
{% endblock %}
