{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% for article in articles %}
        {% if forloop.first %}<table class="table">{% endif %}
        <tr>
            <td>{% if article.image %}<a href="{{ article.get_absolute_url }}"><img src="{{ article.image.url }}" width="100" alt="" /></a>{% endif %}</td>
            <td><a href="{{ article.get_absolute_url }}">{{ article }}</a>
                <br /><a class="text-muted" href="{{ article.issue.get_absolute_url }}">{{ article.issue }}</a></td>
            <td><a href="{{ article.content.url }}" class="btn btn-primary">View article <br /><small class="text-muted">PDF, {{ article.content.size|filesizeformat }}</small></a></td>
        </tr>
        {% if forloop.last %}</table>{% endif %}
    {% empty %}
        <p>{% trans "Sorry, no articles found." %}</p>
    {% endfor %}

{% endblock %}