{% extends "base.html" %}
{% load i18n %}


{% block title %}
<div class="row">
    <div class="col-lg-10">
        <h1 class="h4">{{ article.title }}</h1>
    </div>
    <div class="col-lg-2">
        <br />
        <a href="{{ article.content.url }}" class="btn btn-primary pull-right">{% trans "View article" %}<br /><small class="text-muted">PDF, {{ article.content.size|filesizeformat }}</small></a>
    </div>
</div>
<br />
{% endblock %}

{% block content %}
<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    {% for entry in article.localizedarticlecontent_set.all %}
    <li role="presentation"{% if forloop.first %} class="active"{% endif %}><a href="#{{ entry.lang }}_overview" aria-controls="{{ entry.lang }}_overview" role="tab" data-toggle="tab">{% trans "Overview" %} ({{ entry.get_lang_display }})</a></li>
    {% endfor %}
    {% if article.articleattach_set.all.exists %}
    <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">{% trans "Media" %}</a></li>
    {% endif %}
    {% if article.references %}
    <li role="presentation"><a href="#refs" aria-controls="refs" role="tab" data-toggle="tab">{% trans "References" %}</a></li>
    {% endif %}
  </ul>


  <div class="tab-content">

    {% for entry in article.localizedarticlecontent_set.all %}
    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ entry.lang }}_overview">
        {% if LANGUAGE_CODE != entry.lang %}<h1 class="h5">{{ entry.title }}</h1>{% else %}<br />{% endif %}

        <div class="row">
            {% if article.image %}
            <div class="col-lg-3">
                <img src="{{ article.image.url }}" alt="" class="img-thumbnail" />
            </div>
            {% endif %}
            <div class="col-lg-{% if article.image %}6{% else %}9{% endif %} text-justify">
            {{ entry.abstract|linebreaks }}
            </div>
            <div class="col-lg-3">
                <p>
                {% blocktrans count count=article.articleauthor_set.all.count %}Author{% plural %}Authors{% endblocktrans %}:
                {% for aa in article.articleauthor_set.all %}
                    <a href="{{ aa.author.author.get_absolute_url }}" title="{{ aa.organization }}">{{ aa.author }}</a>{% if forloop.first and forloop.last %} ({{ aa.organization }}){% endif %}{% if not forloop.last %}, {% endif %}
                    {% if forloop.last and not forloop.first %}
                    <br />
                    <a class="btn btn-xs btn-info" data-toggle="collapse" href="#orgs" aria-expanded="false" aria-controls="orgs">{% trans "Show organizations" %}</a>
                    <div class="collapse" id="orgs">
                        <ul>
                    {% for aaa in article.articleauthor_set.all %}
                        <li>{{ aaa }}</li>
                    {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
                </p>
                <p>{% trans "Issue" %}: <a href="{{ article.issue.get_absolute_url }}">{{ article.issue }}</a></p>
                <p>
                    {% trans "Permanent link to this article" %}:<br />
                    <input type="text" value="{{ link }}" class="form-control input-sm" readonly="true" />
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if article.articleattach_set.all.exists %}
    <div role="tabpanel" class="tab-pane" id="media">
        <br />
        <div class="row">
        {% for entry in article.articleattach_set.all %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                {% if entry.type == 1 %}
                    <img src="{{ entry.file.url }}" alt="" />
                {% else %}
                    <img src="{{ entry.icon_url }}" alt="" />
                {% endif %}
                    <div class="caption">
                        {{ entry.comment|linebreaks }}
                        <p><a href="{{ entry.file.url }}" class="btn btn-sm btn-info" target="_blank">{% trans "View" %}<br><small>{{ entry.file.size|filesizeformat }}</small></a></p>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:3 %}<hr class="visible-lg-block visible-md-block separator" />{% endif %}
        {% if forloop.counter|divisibleby:2 %}<hr class="visible-sm-block separator" />{% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if article.references %}
    <div role="tabpanel" class="tab-pane" id="refs">
        <br />
        {{ article.references|linebreaksbr }}
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}
