{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-10">
        <h1 class="h4">{{ article.title }}</h1>
    </div>
    <div class="col-lg-2">
        <br />
        <a href="{{ article.content.url }}" class="btn btn-primary">View article <br /><small class="text-muted">PDF, {{ article.content.size|filesizeformat }}</small></a>
    </div>
</div>

<br />

<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    {% for entry in article.localizedarticlecontent_set.all %}
    <li role="presentation"{% if forloop.first %} class="active"{% endif %}><a href="#{{ entry.lang }}_overview" aria-controls="{{ entry.lang }}_overview" role="tab" data-toggle="tab">Overview [{{ entry.get_lang_display }}]</a></li>
    {% endfor %}
    <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a></li>
    <li role="presentation"><a href="#refs" aria-controls="refs" role="tab" data-toggle="tab">References</a></li>
  </ul>


  <div class="tab-content">

    {% for entry in article.localizedarticlecontent_set.all %}
    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ entry.lang }}_overview">
        {% if LANGUANGE_CODE != entry.lang %}<h1 class="h5">{{ entry.title }}</h1>{% endif %}

        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 text-justify">
            {{ entry.abstract|linebreaks }}
            </div>
            <div class="col-lg-3">
                <p>
                {% blocktrans count count=article.articleauthor_set.all.count %}Author:{% plural %}Authors:{% endblocktrans %}
                {% for aa in article.articleauthor_set.all %}
                    <a href="" title="{{ aa.position.organization }}">{{ aa.position.user }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
                <p>{% trans "Issue" %}: <a href="{{ article.issue.get_absolute_url }}">{{ article.issue }}</a></p>
                <p>{% trans "Permanent link" %}: <a href="{{ link }}" class="text-nowrap">{{ link }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div role="tabpanel" class="tab-pane" id="media">
        <ul>
        {% for entry in article.articleattach_set.all %}
            <li><a href="{{ entry.file.url }}">{{ entry.comment }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="refs">
        TODO
    </div>

  </div>

</div>
{% endblock %}
