{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% for article in articles %}
        {% if forloop.first %}<table class="table">{% endif %}
        <tr>
            <td>{% if article.image %}<a href="{{ article.get_absolute_url }}"><img src="{{ article.image.url }}" width="100" alt="" /></a>{% endif %}</td>
            <td>
                <a class="text-muted" href="{{ article.issue.get_absolute_url }}">{{ article.issue }}</a><br />
                <a href="{{ article.get_absolute_url }}">{{ article }}</a><br />
                <span class="text-muted">
                {% for aa in article.articleauthor_set.all %}
                    <a href="{{ aa.user.get_absolute_url }}" class="text-muted" title="{{ aa.organization }}">{{ aa.user }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </span>
            </td>
            <td><a href="{{ article.content.url }}" class="btn btn-primary">{% trans "View article" %}<br /><small class="text-muted">PDF, {{ article.content.size|filesizeformat }}</small></a></td>
        </tr>
        {% if forloop.last %}</table>{% endif %}
    {% empty %}
        <p>{% trans "Sorry, no articles found." %}</p>
    {% endfor %}

{% endblock %}