{% extends "base.html" %}
{% load i18n static %}

{% block head %}{{ block.super }}
<link href="{% static "css/select2.css" %}" rel="stylesheet"/>
<link href="{% static "css/select2-bootstrap.css" %}" rel="stylesheet"/>
<style type="text/css">
    div.select2-container .select2-choice {
        background-image: none;
        border: 1px solid #ddd;
        height: 29px;
    }
    div.select2-container .select2-choice .select2-arrow {
        background-image: none;
        background-color: #fff;
        border: none;
    }
</style>
<script src="{% static "js/select2.min.js" %}"></script>
<script type="text/javascript">
    var form_count = {{ org_formset.total_form_count }};
    $(function () {
        $('#add_org').click(function() {
            var max_num = parseInt($('#id_org-MAX_NUM_FORMS').val())
            if (form_count < max_num) {
                form_count++;
                var form = '{% filter escapejs %}{% include "journal/forms/position.html" with form=org_formset.empty_form %}{% endfilter %}';
                $(this).prev().append(form.replace(/__prefix__/g, form_count - 1));
                $('#id_org-TOTAL_FORMS').val(form_count);
                org_select(true);
                if (form_count == max_num) {
                    $(this).addClass('disabled');
                }
            }
        });
        org_select(false);

        function show_new_org(el) {
            el.parents('div.row').find('div.form-group:has([id$=-org_site]),.subform').show();
        }
        function hide_new_org(el) {
            el.parents('div.row').find('div.form-group:has([id$=-org_site]),.subform').hide();
        }

        function org_select(adding) {
            $('select[id^=id_org-][id$=-organization]').each(function() {
                var input = $('<input>');
                if (adding) {
                    var text = '{% trans "Enter organization name" %}';
                } else {
                    var text = $(this).find(':selected').text();
                }

                input.attr({
                    id: $(this).attr('id'),
                    name: $(this).attr('name'),
                    class: $(this).attr('class'),
                    value: $(this).val()
                });
                $(this).after(input);
                $(this).remove();
                input.select2({
                    minimumInputLength: 3,
                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                        url: "{% url 'search_organizations' %}",
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {
                            return {q: term};
                        },
                        results: function (data, page, query) {
                            return {results: data.items};
                        },
                        cache: true
                    },
                    createSearchChoice: function (term) {
                        return {id: '', text: '{% trans "Add new organization" %}'}
                    }
                });
                input.select2('data', {id: input.val(), text: text});
                input.on('select2-selecting', function(e) {
                    if (e.val) {
                        hide_new_org(input);
                    } else {
                        show_new_org(input);
                    }
                });
                if (adding) {
                    hide_new_org(input);
                } else {
                    input.trigger($.Event('select2-selecting', {val: input.val()}));
                }
            });
        }
    });
</script>
{% endblock %}


{% block content %}
<form role="form" method="post">
{% csrf_token %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            {{ form }}
            </div>
        </div>
    </div>
</div>

{{ name_formset.management_form }}
<div class="row">
{% for form in name_formset %}
    <div class="col-md-{{ name_formset.col_md }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                {% for lang_code, lang_name in LANGUAGES %}
                    {% if lang_code == form.initial.lang %}{{ lang_name }}{% endif %}
                {% endfor %}
                </h4>
            </div>
            <div class="panel-body">
            {% language form.initial.lang %}
                {{ form }}
            {% endlanguage %}
            </div>
        </div>
    </div>
{% endfor %}
</div>

<h4>{% trans "Organizations" %}</h4>
{{ org_formset.management_form }}
<div>
{% for form in org_formset %}
    {% include "journal/forms/position.html" %}
{% endfor %}
</div>
<a id="add_org" class="btn btn-sm btn-info">{% trans "Add Organization" %}</a>

<hr />
<input class="btn btn-primary" type="submit" value="{% trans "Save changes" %}" />
</form>
{% endblock %}
