{% extends "base.html" %}
{% load journal_tags i18n %}


{% block content %}
    {% cycle 0 0 0 1 as col4 silent %}
    {% cycle 0 0 1 as col3 silent %}
    <div class="row" id="contents">
    {% for issue in issues %}
        {% if issue.year > SPLIT_YEAR %}
            {% ifchanged issue.year %}
                <div class="h4 col-md-12" >{{ issue.year }}{% reset_cycle col3 %}{% reset_cycle col4 %}</div>
            {% endifchanged %}
        {% else %}
            {% ifchanged %}<div class="h4 col-md-12">{{ first_year }} &mdash; {{ SPLIT_YEAR }}</div>{% endifchanged %}
        {% endif %}
        <div class="col-md-4 col-lg-3">
            <div class="panel panel-info">
                <a class="btn-block btn panel-heading" href="{{ issue.get_absolute_url }}">
                    <span class="panel-title">
                {% if issue.year > SPLIT_YEAR %}
                    {{ issue.to_str_no_year }}
                {% else %}
                    {{ issue }}
                {% endif %}
                        <br><small>{% blocktrans count count=issue.published_count %}One article{% plural %}{{ count }} articles{% endblocktrans %}</small>
                    </span>
                </a>
                {% if issue.title %}
                <div class="panel-body text-muted">
                    {{ issue.title }}
                </div>
                {% endif %}
            </div>
        </div>
        {% if col4 %}<div class="col-md-12 visible-lg-block"></div>{% endif %}{% cycle col3 %}
        {% if col3 %}<div class="col-md-12 visible-md-block"></div>{% endif %}{% cycle col4 %}
    {% endfor %}
    </div>
{% endblock %}