{% extends "base.html" %}
{% load i18n %}


{% block head %}{{ block.super }}
<script type="text/javascript">
    $(function () {
        $('#id_resolution').change(function() {
            if (parseInt($(this).val())) {
                $('#review_submit').attr({value: '{% trans "Complete review" %}'});
            } else {
                $('#review_submit').attr({value: '{% trans "Save review for completing afterwards" %}'});
            }
        }).change();
    });
</script>
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-body row">
        <div class="col-md-6">
            <a target="_blank" href="{{ article.articlesource_set.latest.file.url }}" class="btn btn-primary">{% trans "View article" %} <br /><small class="text-muted">{{ article.articlesource_set.latest.file.size|filesizeformat }}</small></a>
        </div>
        <div class="col-md-6">
        {% blocktrans count count=article.get_authors.keys|length %}Author{% plural %}Authors{% endblocktrans %}:
        {% for aa, orgs in article.get_authors.iteritems %}
            <a href="{{ aa.get_absolute_url }}" target="_blank" title="{{ orgs|join:", " }}">{{ aa }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

<form role="form" method="post">
{% csrf_token %}

<div class="row">
    <div class="col-md-12">
        {{ form }}
    </div>
</div>

<hr class="separator" />
<input id="review_submit" class="btn btn-primary" type="submit" value="{% trans "Complete review" %}" />
</form>
{% endblock %}

